<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>172.20.10.7</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<string>NSExceptionRequiresForwardSecrecy</string>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<string>YES</string>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<string>NSAllowsLocalNetworking</string>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>ServerURL</key>
	<string>http://172.20.10.7:8080</string>
</dict>
</plist>
